<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.type }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="product | productImage" [alt]="product.name" />

  <mat-card-content class="mt-2">
    <h4><strong>{{ product.price }}</strong></h4>
    <p>{{ product.info }}</p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button
      mat-button
      mat-raised
      color="primary"
      [routerLink]="['/products', product.id]"
    >
      Editar
      <!-- <mat-icon>edit</mat-icon> -->
    </button>

    <span class="spacer"></span>

    <button mat-button mat-raised [routerLink]="['/products', product.id]">
      <mat-icon>more_horiz</mat-icon>
      Ver más
    </button>
  </mat-card-actions>
</mat-card>
